body{
  font-family: 'Indie Flower', cursive;
  color: red;
  text-align: center;
  font-size: 30px;
}

.barra {
  text-align: center;
}

.lista {
  margin-top: 30px;
  text-align: center;
  color: red;
  font-size: 30px;
}
